.md-typeset :not(pre) > code {
    display: inline-flex;
    align-items: center;
    gap: 0.1em;
    padding: 0.25rem 0.25rem;
    border-radius: 5px;
    background-color: var(--md-accent-fg-color--transparent);
    color: var(--md-);
    border: 1px solid var(--md-accent-fg-color--transparent);
    box-shadow: 0 0 0 1px var(--md-accent-fg-color--transparent);
    font-weight: 600;
    line-height: 1.0;
    vertical-align: baseline;
}

