/* Show either light or dark assets depending on the current Material scheme */
.only-dark {
    display: none;
}

[data-md-color-scheme="slate"] .only-light {
    display: none;
}

[data-md-color-scheme="slate"] .only-dark {
    display: block;
}

/* left-align images (and figures) in docs */
.md-typeset img,
.md-typeset figure {
  margin-left: 0;
  margin-right: 0;
}
